{% extends 'base.html.twig' %} {% block title 'Super Agence' %} {% block body %}

<div class="jumbotron text-center">
  <h1>Super Agence</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia quasi
    aliquid, vitae enim eum?
  </p>
</div>

{% endblock %}
